@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
}

h1 {
  line-height: 1.532rem;
  font-size: 1.125rem;
}

p {
  line-height: 1.362rem;
}
