main.user-entry {
  position: relative;
  display: flex;
  place-content: center center;
  height: 100vh;

  .card {
    width: 100%;
    max-width: 29.614rem;
    margin: auto;
  }

  .logo-container {
    padding-top: 1.077rem;
    .logo {
      width: 8.136rem;
      height: 1.125rem;
    }
  }

  .body-container {
    h1 {
      margin: 1.716rem 0 0.906rem 0;
    }

    p {
      margin-bottom: 2.166rem;
    }

    .icons-container {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin-top: 1.966rem;
      .callback {
        color: rgba(47, 128, 237, 1);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .icons-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.407rem 0 1.692rem 0;

        a {
          cursor: pointer;
          margin: 0 calc(1.308rem / 2);
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
  }
}

@media (min-width: $s) {
  main.user-entry {
    .card {
      padding: 3.026rem 58.784px 2.717rem 3.674rem;
      height: 39.644rem;
      border: 1.008px solid rgba(189, 189, 189, 1);
      border-radius: 1.5rem;
    }

    .logo-container {
      padding-top: 0;
    }

    footer {
      display: none;
      margin: auto;
    }
  }
}
