main.user-profile {
  h3 + span {
    font-weight: 500;
    font-size: 0.813rem;
    color: #828282;
  }

  .card {
    border-radius: 12px;
    width: 100%;
    max-width: 52.869rem;
  }

  .card-section {
    padding: 17.39px 20.61px;

    .title {
      width: 30%;
    }

    .value {
      display: flex;
      justify-content: flex-end;
      width: 70%;
    }
  }
}

@media (min-width: $s) {
  main.user-profile {
    .card {
      border: 1px solid #e0e0e0;
      min-height: 36.284rem;
      margin-bottom: 271.4px;
    }

    .card-section {
      padding: 24px 49.3px;

      .value {
        justify-content: flex-start;
      }
    }

    .password-wrapper {
      border: none;
    }
  }
}
